:root {
    --main-color: #FFE5CE;

    /* --body-color: #F7F7F7; */
    --body-color: #EEEEEE;
    --before-h4-color: #B6CAC3;

    --bg-color-item: #E1E7EF;
    --font-color-item: #728197;

    --color-shadow: #BBBBBB;

    --bg-color-hover: #667FEA;
    --color-hover: #EEEEEE;

    --color-h1: #CCCCCC;

    --white: #FFFFFF;
    --black: #000000;
}

* {
    /* font-family: Helvetica, Arial, sans-serif; */
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
 line-height: 1.8rem;
 margin: 0;  
}

/* CLASS */

.flex {
    display: flex;
    flex-wrap: wrap;
}

.col15 {
    width: 20%;
}

.col20 {
    width: 25%;
}

.col65 {
    width: 55%;
}

.clt, .h1, .h2, .h3, .h4 {
    color: #2D3748;
}

.none {
    display: none;
}

.block {
    display: block;
}

/* Load more */

.hide_loadmore {
    display: none;
}

.show-loadmore {
    display: block;
}


/* CSS NAV - MENU */

nav.menu {
    background-color: var(--main-color);
    transition: all 1s;
}

nav.menu > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.menu-item {
    justify-content: center;
}

ul.menu-item > li {
    min-width: 100px;
    text-align: center;
}

ul.menu-item > li > a {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 15px 20px;
    position: relative;
    font-weight: 700;
    color: var(--font-color-item)
}

ul.menu-item > li > a::after {
    content: "";
    height: 4px;
    width: 0;
    background: var(--font-color-item);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
}

ul.menu-item li a:hover::after {
    width: 40%;
    transform: translateX(100%);
}

div.logo {
    width: 15%;
    margin: 1rem auto;
}

div.logo img {
    width: 100%;
}

li.sub:hover .sub-menu {
    display: block;
}

ul.sub-menu {
    width: 200px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: var(--main-color);
    display: none;
    z-index: 10;
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 3px 5px var(--color-shadow);
}

ul.sub-menu > li {
    transition: all ease-in-out 0.2s;
}

ul.sub-menu > li:hover > a {
    background-color: var(--bg-color-hover);
    color: var(--color-hover);
}

ul.sub-menu > li:last-child:hover > a {
    border-radius: 0 0 10px 10px;
}

ul.sub-menu a {
    display: block;
    text-decoration: none;
    padding: 15px 20px;
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
    color: var(--font-color-item);
}

.menu-lv2 {
    position: relative;
}

.sub-menu-lv2 {
    position: absolute;
    top: 0;
    left: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 200px;
    background-color: var(--main-color);
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 3px 5px var(--color-shadow);
    display: none;
}

.menu-lv2:hover .sub-menu-lv2 {
    display: block;
}

.sub-menu-lv2 > li:hover a {
    background-color: var(--bg-color-hover);
    color: var(--color-hover);
}

.sub-menu-lv2 > li:last-child:hover a {
    border-radius: 0 0 10px 10px;
}

div.afmenu {
    margin-left: 11%;
    margin-top: 5px;
    margin-bottom: 5px;
}

div.afmenu a {
    text-decoration: none;
    color: var(--font-color-item);
    font-size: 1rem;
}

div.afmenu i {
    color: var(--font-color-item);
    margin: 0.5rem;
    font-size: 0.75rem;
}

/* CSS TOGGLE MENU */

#body {
    position: relative;
}

.l-navbar {
    position: fixed;
    top: 10%;
    left: -16px;
    width: 0;
    height: 80%;
    background-color: var(--main-color);
    padding: 1.25rem 0.5rem 2rem;
    transition: 0.5s;
    z-index: 100;
    border-radius: 0 5px 5px 0;
    /* display: none; */
}

.l-navbar a {
    text-decoration: none;
}

.nav {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    line-height: 0;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 0.2rem;
}

.nav__logo-icon {
    margin-right: 0.75rem;
    width: 32px;
}

.nav__logo-text {
    font-size: 1rem;
    font-weight: 700;
    color: var(--font-color-item);
}

.nav__toggle {
    position: absolute;
    top: 1.5rem;
    right: -2rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--font-color-item);
    color: var(--white);
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
}

.nav__list {
    margin: 0;
    padding: 0;
}

.nav__link {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    transition: 0.5s;
    color: var(--font-color-item);
}

.nav__link:hover {
    background: var(--bg-color-hover);
    color: var(--color-hover);
}

.nav__text {
    font-weight: 700;
}

.nav__icon {
    font-size: 1.5rem;
    margin-right: 0.75rem;
}

.show {
    width: 220px;
    left: 0;
}

.rotate {
    transform: rotate(180deg);
    transition: 0.3s;
}

.mobile {
    display: none;
}

/* CSS SOCIAL */

ul.social {
    justify-content: center;
    align-items: center;
}

ul.social > li {
    padding: 10px;
}

ul.social i {
    font-size: 1.3rem;
    color: var(--font-color-item);
}

ul.social li:hover i {
    font-size: 1.4rem;
}

ul.social li:nth-child(1):hover i {
    color: #1093F4;
}

ul.social li:nth-child(2):hover i {
    color: #FF0000;
}

ul.social li:nth-child(3):hover i {
    background-image: linear-gradient(to left bottom, #7C3BAF, #BD3589, #E04D5D, #F5CD00);
    color: #E4E0E0;
    border-radius: 5px;
    padding: 0 1.5px;
}

ul.social li:nth-child(4):hover i {
    color: #1D9BF0;
}

ul.social li:nth-child(5):hover i {
    color: var(--black);
}

/* CSS SEARCH BOX */

div.find {
    justify-content: right;
    align-items: center;
}

#search-box, #search-box-mobile {
    background: var(--white);
    border-radius: 50px;
}

#search-box #search-text, 
#search-box-mobile #search-text-mobile {
    border: none;
    outline: none;
    background: none;
    padding: 5px 0 5px 10px;
    font-size: 16px;
    width: 240px;
}

#search-btn, 
#search-btn-mobile {
    border: none;
    outline: none;
    background: var(--white);
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 50%;
    font-size: 16px;
}

#search-btn i,
#search-btn-mobile i {
    color: var(--font-color-item);
}

.mobile {
    margin-bottom: 0.5rem;
}

/* CSS FOOTER */

footer {
    background-color: var(--main-color);
    margin: 10px 0;
    line-height: 1rem;
}

.my-footer {
    justify-content: center;
    align-items: center;
}

.footer-social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-social a {
    display: block;
    padding: 10px;
    padding-bottom: 0;
}

.footer-social i {
    color: var(--font-color-item);
}

.footer-social li:hover i {
    color: var(--bg-color-hover);
}

p.copyright {
    color: var(--font-color-item);
    margin: 0;
    padding: 10px;
    text-align: center;
}

/* CSS BACK TO TOP */

#backtop {
    background-color: var(--main-color);
    color: var(--font-color-item);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 40px;
    right: 20px;
    cursor: pointer;
    z-index: 999;
}

/* CSS MAIN - BODY */

/*---------------
    MAIN LEFT
-----------------*/

section.main {
    width: 80%;
    margin: 3.5rem auto;
    margin-top: 0;
    padding: 1rem;
    justify-content: space-between;
    background-color: var(--body-color);
    border-radius: 10px;
}

div.log {
    width: 65%;
    /* position: relative; */
}

h4.h4 {
    font-size: 24px;
    margin: 24px;
    margin-top: 0;
}

/* Bài viết mới */

.log-news {
    position: relative;
}

.log-news h4::before {
    content: "";
    width: 5px;
    height: 32px;
    background-color: var(--before-h4-color);
    position: absolute;
    top: 0;
    left: .5rem;
}

.posts {
    background-color: var(--white);
    box-shadow: 0 5px 5px var(--color-shadow);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    justify-content: space-between;
    transition: 0.25s ease;
}

.posts:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 5px gray
}

.post-img {
    width: 33%;
}

.post-img img {
    width: 100%;
    border-radius: 10px;
}

.post-content {
    width: 65%;
}

.post-content h3 {
    margin-top: 0;
    margin-bottom: 1rem;
}

.post-content > h3 > a {
    text-decoration: none;
    font-weight: 700;
}

.post-topic-btn {
    background: #EDF2F7;
    color: #728197;
    font-weight: 600;
    padding: 0.25rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    border: none;
    cursor: pointer;
}

.post-topic-btn:hover {
    background: #728197;
    color: #EDF2F7;
}

.post-text {
    color: #728197;
}

.post-er {
    justify-content: start;
    align-items: center;
    gap: 10px;
    position: relative;
}

.image-post-er {
    width: 4rem;
    height: 4rem;
}

.image-post-er img {
    width: 100%;
}

.profile-post-er a {
    color: #728197;
    text-decoration: none;
    font-weight: 700;
}

.profile-post-er a:hover {
    color: #667FEA;
}

.post-date {
    margin: 0;
    align-items: center;
    gap: 5px;
    color: #A0AEC0;
}

.dots {
    font-size: 0.3rem;
    margin: 0 0.6rem;
}

.post-er::after {
    content: "";
    width: 100%;
    height: 0.5px;
    background-color: #2F2E2E;
    position: absolute;
    top: 120%;
    left: 0;
    right: 0;
    opacity: 0.7;
}

div.react {
    margin-top: 1.5rem;
    justify-content: space-evenly;
}

div.react a {
    text-decoration: none;
    color: var(--black);
}

div.react > div {
    display: block;
    /* margin-right: 7rem; */
    cursor: pointer;
}

div.react > div:last-child {
    margin-right: 0;
}

#load-btn-new, #load-btn-hot {
    margin-inline: auto;
    display: block;
    margin: 2.5rem auto;
    background: var(--font-color-item);
    color: #F7F7F7;
    padding: 0.6875rem 1.1875rem;
    min-width: 10rem;
    border-radius: 100px;
    font: inherit;
    border: none;
    cursor: pointer;
}

#load-btn-new:hover,
#load-btn-hot:hover {
    background: var(--bg-color-hover);
}

#hide-btn-new,
#hide-btn-hot {
    padding: 4px 8px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 90%;
    display: none;
}

.load-new {
    transition: all 1s ease-in-out;
}

/* Bài viết nổi bật */

div.log-like {
    margin-top: 2.5rem;
    position: relative;
}

.log-like h4::before {
    content: "";
    width: 5px;
    height: 32px;
    background-color: var(--before-h4-color);
    position: absolute;
    top: 0;
    left: .5rem;
}

/*---------------
    MAIN RIGHT
-----------------*/

div.aside {
    width: 30%;
}

h2.h2 {
    font-size: 24px;
    margin: 24px;
    margin-top: 0;
    color: var(--font-color-item);
    text-align: center;
}

div.aside > div {
    margin-bottom: 3rem;
}

div.about {
    background-color: var(--white);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 5px 5px var(--color-shadow);
}

div.about h4 {
    margin: 0.5rem 0;
}

.about-text {
    color: #728197;
    margin-top: 0;
    font-weight: 500;
}

div.aboutme img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

#about-btn {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    background-color: var(--bg-color-item);
    color: var(--font-color-item);
    cursor: pointer;
}

#about-btn:hover {
    background-color: var(--bg-color-hover);
    color: var(--color-hover);
}

.topics p {
    padding: 15px;
    color: #728197;
    font-weight: 700;
}

.topics-btn {
    border-radius: 15px;
    box-shadow: 0 5px 5px var(--color-shadow);
    text-decoration: none;
    margin-bottom: 1rem;
}

.topics-btn p {
    width: 70%;
    margin: 0;
    padding: 15px;
    font-size: 20px;
}

div.icon-box {
    width: 70px;
    font-size: 22px;
    padding: 1rem;
    background-color: var(--bg-color-item);
    color: var(--font-color-item);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 15px;
}

div.icon-box:hover {
    background-color: var(--bg-color-hover);
    color: var(--color-hover);
}

div.tags {
    margin-bottom: 3rem;
}

div.tag {
    background-color: var(--white);
    padding: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    border-radius: 10px;
    box-shadow: 0 5px 5px var(--color-shadow);
}

button.hashtag {
    padding: 5px 10px;
    background-color: var(--bg-color-item);
    color: var(--font-color-item);
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    transition: all ease-in-out 0.1s;
    cursor: pointer;
}

button.hashtag:hover {
    transform: scale(1.05);
}

div.ads img {
    width: 90%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

div.ads > div {
    background-color: var(--white);
    border-radius: 20px;
    padding: 20px 5px;
    box-shadow: 0 5px 5px var(--color-shadow);
}

div.ads > div > a {
    text-decoration: none;
    display: block;
    display: flex;
    justify-content: center;
}

.ads-btn {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    background-color: var(--bg-color-item);
    color: var(--font-color-item);
}

.ads-btn:hover {
    background-color: var(--bg-color-hover);
    color: var(--color-hover);
}

div.news {
    background-color: var(--white);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 5px 5px var(--color-shadow);
}

.newsletter p {
    color: var(--font-color-item);
    margin-bottom: 1rem;
}

#news-email {
    border: none;
    background: var(--bg-color-item);
    display: block;
    width: 100%;
    padding: 1rem 1.5rem;
    font: inherit;
    color: var(--font-color-item);
    border-radius: 5px;
    margin-bottom: 1rem;
}

#news-btn {
    display: block;
    margin: 0 auto;
    background: var(--bg-color-hover);
    color: var(--white);
    padding: 0.6875rem 1.1875rem;
    min-width: 10rem;
    border-radius: 100px;
    font: inherit;
    border: none;
    cursor: pointer;
}

div.follow-me > div {
    background-color: var(--white);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 5px 5px var(--color-shadow);
}

div.follow-me a {
    color: var(--font-color-item);
}

.follow-item {
    width: 30%;
    margin-left: 5px;
    margin-right: 5px;
    margin: 0.5rem auto;
    border-radius: 10px;
    background: var(--bg-color-item);
    transition: all ease-in-out 0.2s;
    box-shadow: 0 5px 5px var(--color-shadow);
}

.follow-item:hover {
    transform: scale(1.05);
}

.follow-item a {
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 0.5rem;
}

.contact-box > div {
    background-color: var(--white);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 5px 5px var(--color-shadow);
}

.contact-box ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: (--font-color-item);
}

.contact-box ul li {
    color: var(--font-color-item);
}

.contact-box a {
    text-decoration: none;
    color: var(--font-color-item);
}

/* CSS ALL PAGE */

.all-page {
    width: 80%;
    margin: 0 auto;
}

.h1 {
    margin: 3rem 0 0 0;
    padding: 10px 15px;
    width: 160px;
    background: var(--color-h1);
    border-radius: 0 2rem 0 2rem;
    text-align: center;
    position: relative;
}

.h1::after {
    content: "";
    height: 5px;
    width: 68vw;
    background-color: var(--color-h1);
    position: absolute;
    left: 100%;
    top: 90%;
}

.page-child {
    display: none;
}

#alert {
    background-color: #bbc1d8;
    margin: auto;
    border-radius: 10px;
    position: fixed;
    z-index: 10;
    display: none;
    width: 60%;
    height: 65%;
    top: 20%;
    left: 20%t;
    right: 20%;
}

div.alert > div {
    position: relative;
}

div.alert img {
    width: 100%;
    padding: 1rem;
    margin: 0;
    border-radius: 25px;
}

div.alert p {
    text-align: center;
    margin: 0;
    padding-top: 2rem;
    font-weight: 500;
}

#close-box {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#close-box:hover {
    background-color: #FF0000;
    color: var(--white);
    border-radius: 0 10px 0 10px;
}

.tbandyt {
    position: fixed;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    animation: lac 2s 0s ease-out infinite;
}

.tbandyt i {
    font-size: 1.5rem;
    animation: runglac 2s infinite;
}

.notifi {
    top: 100px;
    color: var(--font-color-item);
}

.notifi:hover .notifi-content {
    display: block;
}

.notifi-content {
    position: absolute;
    left: -450%;
    bottom: -300%;
    width: 200px;
    background: var(--main-color);
    border-radius: 10px;
    box-shadow: 0px 2px 2px var(--color-shadow);
    display: none;
}

.notifi-content::before {
    content: "";
    border: 15px solid var(--main-color);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    right: -1.8rem;
    top: 0.5rem;
}

.notifi-content ul {    
    padding: 1rem;
    margin: 0.5rem;
}

.favorites-list {
    top: 170px;
    color: red;
}

.favorites-list:hover .list-like {
    display: block;
}

.list-like {
    width: 300px;
    height: 600px;
    background: var(--main-color);
    position: absolute;
    right: 4rem;
    top: 0;
    padding: 1rem;
    /* overflow: auto; */
    display: none;
}

.list-like::before {
    content: "";
    border: 15px solid var(--main-color);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    right: -1.8rem;
    top: 0.5rem;
}

.list-like-item {
    justify-content: space-evenly;
    align-items: center;
    background-color: aquamarine;
    padding: 0.5rem;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    height: 105px;
}

.img-like {
    width: 30%;
}

.list-like-item img {
    width: 80%;
}

.title-like {
    width: 50%;
    font-size: 12px;
}

.remove-like {
    width: 10%;
}

.remove-like i {
    animation: none;
    font-size: 14px;
}

.list-like-h4 {
    margin: 0 0 0.3rem 0;
    text-align: center;
}

.list-like-h5 {
    margin: 0.3rem 0 0 0;
    text-align: end;
}

@keyframes runglac {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }    
}

@keyframes lac {
    0% {
        box-shadow: 0 0 0 0 var(--main-color);
    }
    75% {
        box-shadow: 0 0 0 16px rgb(109 181 27 / 0%);
    }
    100% {
        box-shadow: 0 0 0 0 rgb(109 181 27 / 0%);
    }
}